<div class="sub_header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="up_navbar">
          <div class="clock_right langu_ages">
            <div class="dropdown">
              <button class=" dropdown-toggle drop_btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div id="google_translate_element"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="up_navbar1">
          <div class="clock_right">
          </div>
          <div class="clock_right singin_button" data-toggle="" data-target="">
            Sign In
          </div>
          <div class="clock_right register_button" data-toggle="" data-target="">
            Register
          </div>
          <div class="clock_right">
            <a href="store_locator"> Store Locator </a>
          </div>
          <div class="clock_right">
            <a href="blog"> Blog </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>